[run]
branch = True
source =
    apps
    mylonite
omit =
    */migrations/*
    */tests/*
    manage.py

[report]
show_missing = True
skip_covered = False
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
